<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.digitalhouse.playmovieapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayMovieApp">
        <activity
            android:name=".ui.view.MoviesActivity"
            android:parentActivityName=".ui.view.SugestaoActivity" />
        <activity
            android:name=".ui.view.SubNiveisActivity"
            android:theme="@style/Theme.PlayMovieApp" />
        <activity
            android:name=".ui.view.CadastroActivity"
            android:parentActivityName=".ui.view.HomeActivity" />
        <activity
            android:name=".ui.view.NivelActivity"
            android:parentActivityName=".ui.view.HomeActivity" />
        <activity
            android:name=".ui.view.JogoActivity"
            android:parentActivityName=".ui.view.SubNiveisActivity"
            android:theme="@style/Theme.PlayMovieApp" />
        <activity
            android:name=".ui.view.HomeActivity"
            android:parentActivityName=".ui.view.ConfiguracoesActivity" />
        <activity
            android:name=".ui.view.ConfiguracoesActivity"
            android:theme="@style/Theme.PlayMovieApp" />
        <activity
            android:name=".ui.view.DetalhesDesenvolvedorActivity"
            android:label="@string/title_activity_detalhes_desenvolvedor" />
        <activity android:name=".ui.view.DesenvolvedoresActivity" />
        <activity
            android:name=".ui.view.InteressesActivity"
            android:label="@string/title_activity_interesses"
            android:parentActivityName=".ui.view.HomeActivity" />
        <activity
            android:theme="@style/Theme.PlayMovieApp"
            android:name=".ui.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.SplashActivity"
            android:theme="@style/Theme.PlayMovieApp.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.SugestaoActivity"
            android:parentActivityName=".ui.view.HomeActivity"
            android:theme="@style/Theme.PlayMovieApp" />
        <activity
            android:name=".ui.view.DetalhesActivity"
            android:parentActivityName=".ui.view.SugestaoActivity"
            android:theme="@style/Theme.PlayMovieApp" />
    </application>

</manifest>